* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2B2B2B;
    font-family: calibri;
    margin: 0px;
}

/* navigation bar */
.navbar {
    background: #5A5A5A;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navdiv {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 65px;
    padding: 0 20px;
    flex-wrap: wrap;
}

/* logo */
.logo a {
    font-size: 20px;
    font-weight: bold;
    color: #E0E0E0;
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo img{
    height: 50px;
    width: 50px;
}

/* nav links */
.nav-links {
    list-style: none;
    display: flex; 
    align-items: center;
    flex-wrap: wrap; 
}

.nav-links a {
    color: #E0E0E0;
    padding: 10px 15px;
    display: block;
    margin: 5px;
    text-decoration: none;
    transition: 0.3s ease;
}

.nav-links a:hover {
    background-color: #7D7D7D;
    color: #E0E0E0;
    border-radius: 5px;
}

.nav-links button {
    border: none;
    background: none;
}

.nav-links button a {
    padding: 10px 15px;
    background-color: #2B2B2B;
    color: #E0E0E0;
    border-radius: 5px;
}

.nav-links button a:hover {
    background-color: #7D7D7D;
}

body{
    padding-top: 75px;
}


/* end of navigation bar */

/*main page*/

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    background-color:  #2B2B2B; 
}

.mainnavdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px); 
}

.mainnavdiv img{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 5px;
}

.mainnavdiv h1{
    color: #E0E0E0;
}

.mainnavdiv h3{
    color: #E0E0E0;
    margin-bottom: 10px;
}

.mainnavdiv button {
    border: none;
    background: #5A5A5A;
    margin-top: 10px;
    width: 200px;
    height: 35px;
    border-radius: 4px;
}

.mainnavdiv button a {
    color: #E0E0E0;   
    padding : auto;
    display: block;
}

.mainnavdiv button a:hover{
   background-color: #7D7D7D;
   color: white;
   border-radius: 4px;
}

/*end of main page*/


/* about me */
.about{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 50px; 
}

.about-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image img{
    width: 100%;
    max-width: 300px;  
    height: auto;
    border-radius: 50%;
}

.title {
    font-size: 65px;
    color: #E0E0E0;
    font-family: 'Times New Roman', Times, serif;
}

.about-text{    
    max-width: 500px;
    width: 100%;
    text-align: justify;
    color: #E0E0E0;
}

.about-text p{
    font-size: 17px;
    line-height: 1.5;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #E0E0E0;
}

.hobbies {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    flex-wrap: wrap; 
    gap: 20px;
}

.box{
    background-color: #5A5A5A;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    color: #E0E0E0;
}

.box h3{
    font-size: 25px;
    font-weight: normal; 
    padding-top: 3px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.box p{
    padding: 10px;
    line-height: 1.5;
    font-size: 17px;
    text-align: justify;
}

/* responsive design for about me section*/
/* For tablets and small desktops */
@media (max-width: 768px) and (min-width: 321px) {
    .about{
        flex-direction: column;
        padding: 35px 20px;
        text-align: center;
    }

    .about-image img{
        max-width: 300px;
    }

    h2.title {
        font-size: 50px;
    }

    .about-text{
        text-align: center;
        font-size: 25px;
    }
}

/*for mobile devices */
@media (max-width: 768px){
    .about{
        flex-direction: column;
        text-align: center;
    }

    .about-image img{
        max-width: 300px;
    }

    .title{
        font-size: 40px;
    }

    .about-text{
        font-size: 10px;
    }

    .box{
        max-width: 300px;
        min-width: 250px;
    }
}

/* end of about me */


/*tech stack*/
.techstack{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
}

.techstack-text{
    text-align:center;
    max-width: 500px;
    padding-top:45px;
    color: #E0E0E0;
}

.techstack-photos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.techstack-images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  /*edit here*/
}

.techstack-photos img{
    display: flex;
    width: 100px;
    height: 100px;
    padding-left: 10px;
    margin-top: 20px;
    margin-left: 10px;
}

.techstack-photos h2{
    display: flex;
    font-size: 25px;
    font-weight: normal;
    color: #E0E0E0;
    margin-left: 10px;
    justify-content: center;
}
/*end of tech stack*/


/*Certifications*/

main > h2.title {
    text-align: center;
    padding-top: 20px;
}

.certifications {
    display: flex;
    justify-content: center;   
    gap: 50px;                        
    padding-top: 10px;
}

.certification-contents {
    display: flex;
    flex-direction: column;    
    align-items: center;      
    text-align: center;        
    max-width: 550px;       
    width: 100%;
    gap: 15px;               
}
.certification-title {
    font-size: 25px;
    color: #E0E0E0;
}

.certification-contents img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.certification-contents p {
    font-size: 16px;
    line-height: 1.5;
    color: #E0E0E0;
}

/*end of certifications*/

/*Contact Me*/
.contact{
    display: flex;           
    justify-content: center;
    align-items: center;
    gap: 40px;  
    padding: 200px;                
}


.contact-text{
    max-width: 500px;
}

.contact-text p{
    font-size: 17px;
    line-height: 1.5;
    text-align: left;         
    margin-top: 20px;
    color: #E0E0E0;
}

.contact-contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 59px;
}

.contact-contents button{
    border: none;
    background: #5A5A5A;
    width: 200px;
    height: 35px;
    border-radius: 4px;
    margin: 5px;
}

.contact-links a {
    color: #E0E0E0;
    display: block;
    text-decoration: none;
    padding: 9px;
}

.contact-links a:hover {
    background-color: #7D7D7D;
    color: #E0E0E0;
    border-radius: 5px;
}

/* For tablets and small desktops */
@media (max-width: 768px) and (min-width: 321px) {
    .contact{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    h2.title{
        font-size: 50px;
    }

    .contact-text{
       width: 450px;
    }

    .contact-text p{
        text-align: center;
        font-size: 17px;
    }

    .contact-contents {
        flex-direction: column;
        padding-top: 10px;
    }
}

/*for mobile devices */
@media (max-width: 320px){
    .contact{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .title{
        font-size: 30px;
    }

    .contact-text p{
        font-size: 14px;
        text-align: center;

    }

    .contact-contents{
        padding-top: 0;
    }
}